*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 100px;
}
:root{
    --bag:rgba(7, 7, 7, 0.418);
    --font:red;
    --select:green;
    --heading:rgb(28, 0, 128);
}
body{
    background-color: var(--bag);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 10px;
    width: 60%;
    height: 60%;
    color: var(--font);
    background-color:white;
    user-select: none;
    border-radius: 30px;
    
}
.title{
    font-size: 30px;
    padding: 10px;
    text-align: center;
color: var(--heading);
}
.row{
display: flex;
justify-content: space-around;
margin: 30px;
}
.form-group{
margin: 10px;
width: 100%;
position: relative;
}
.form-group input{
height: 30px;
width: 80%;
}
input,textarea{
border: none;
border-bottom: 1px solid;
outline: none;
font-size: 20px;
}
textarea{
width: 100%;
resize: none;
}
.form-group label{
position:absolute;
bottom: 5px;
pointer-events: none;
transition: 0.1s ease;
}
.form-group input:focus ~ label{
transform: translateY(-20px);
color:var(--select);
}
.form-group input:valid ~ label{
transform: translateY(-20px);
color:var(--select);
}
.form-group textarea:focus ~ label{
transform: translateY(-45px);
color:var(--select);
}
.form-group textarea:valid ~ label{
transform: translateY(-45px);
color:var(--select);
}
button{
    position: relative;
    bottom: 10px;
padding: 8px;
transition: 0s ease;
border: 1px solid;
color: var(--font);
width:30vw;
}
.sub{
display: flex;
justify-content: center;
}
button:hover{
background-color: var(--bag);
color:var(--select); 
border: 3px solid green;
}
footer{
    position: absolute;
    bottom: 0px;
}
@media (max-width:500px) {
    .row{
        display: flex;
        flex-direction: column;
        margin: 10px;
        }
}